.footer_link > a {
  border: 2px solid var(--text-secondary);
  border-radius: 35px;
  color: var(--text-secondary);
  transition: 0.3s linear;
  padding: 0.5rem 1.5rem;
}
.footer_link > a:hover {
  color: var(--text-white);
}

.footer_link > h6 {
  border-right: 2px solid var(--text-secondary);
}

@media (max-width: 768px) {
  .footer_link > a {
    padding: 0.2rem 0.5rem;
  }
}
